block(button) {
  background-color: #f095b1;
  box-shadow: inset 0 0 0 2px #38625b;
  border: none;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  user-select: none;
  font-family: inherit;
  display: block;
  border-radius: 40px 40px 40px 40px;
  width: 240px;

  elem(text) {
    font-size: 22px;
    padding: 20px 35px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-family: inherit;
    color: #ffffff;
  }

  &:hover {
    background-color: #ed7299;

    elem(text) {
      color: #ffffff;
    }
  }
}
