block(button) {
  background-color: blue;
  box-shadow: inset 0 0 0 2px #000000;
  border: none;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  user-select: none;
  font-family: inherit;
  display: block;

  elem(text) {
    font-size: 20px;
    padding: 10px 20px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #000000;
    font-weight: 500;
    font-family: inherit;
    color: #ffffff;
  }

  &:hover {
    background-color: #c2b7b7;

    elem(text) {
      color: #ffffff;
    }
  }
}
